body{
    background-color: #B8B8B2;
}
.navbar{
    background-color: rgba(0,0,0,0.8);
    color: #FFFFFF;
}
.column{
    float: left;
    width: 24.4%;
    height: 94vh;
    display: block;
    margin-right: 0.3%;
    margin-left: 0.3%;
}
.panel1{
    background-image: url("resources/kawhiLeonard.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%);
}
.panel2{
    background-image: url("resources/giannisAnte.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%);
}
.panel3{
    background-image: url("resources/jamesHarden.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%);
}
.panel4{
    background-image: url("resources/lebronJames.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%);
}
.column:hover{
    filter: brightness(105%);
    box-shadow: 0px 0px 10px 3px #333333;
    cursor: pointer; 
}